main{
    /* Box Properties */
    margin-top: 0px;
}

.game-info{
    --spacing: 1rem;

    /* Box Properties */
    width: 90%;
    border-radius: 5px;
    padding: var(--spacing);
    margin: var(--spacing);
    margin-inline: auto;
    box-shadow: 1px 1px 2px var(--color-outerspace);

    /* Colour Properties */
    background-color: #F7F7F7;

    /* Text and Font Properties */
    font-family: 'Segoe UI', sans-serif;
}

#banner{
    /* Box Properties */
    width: 100%;
}

#banner > img{
    /* Box Properties */
    width: 100%;
    margin-inline: auto;

    /* Display Properties */
    display: block;
}

#game-data{
    /* Box Properties */
    width: 100%;
    margin-top: var(--spacing);
    margin-inline: auto;

    /* Grid Properties */
    display: grid;
    gap: var(--spacing);
    grid-auto-flow: column;
    grid-template-columns: 2fr 6fr 2fr;
}

#game-poster{
    /* Box Properties */
    padding: calc(var(--spacing) / 2);
    border-radius: 10px;

    /* Position Properties */
    position: relative;
    bottom: 50%;
    left: 25%;

    /* Background Colour */
    background-color: rgba(255, 255, 255, 0.25);
}

#game-poster > img{
    /* Box Properties */
    max-width: 100%;
    margin-inline: auto;
}

#game-text{
    /* Box Properties */
    width: 100%;

    /* Positon Properties */
    position: relative;
    left: 10%;

    /* Text and Font Properties */
    font-size: 1rem;
    font-weight: 400;
}

#game-text > h1{
    /* Box Properties */
    margin: 0px;

    /* Text and Font Properties */
    font-size: 3rem;
    font-weight: 800;
    text-shadow: 1px 1px var(--color-bittersweet);
}

.bold-font{
    /* Text and Font Properties */
    font-size: 1.25rem;
    font-weight: 600;
}

a{
    /* Text and Font Properties */
    text-decoration: none;
}

#game-description{
    /* Box Properties */
    width: 100%;

    /* Grid Properties */
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 2fr 9fr;
}

#game-description > :nth-child(2){
    /* Box Properties */
    padding: 0.5rex 0.5rem;
}

@media only screen and (max-width: 550px){
    #game-description{
        /* Box Properties */
        width: 100%;

        /* Display Properties */
        display: block;
    }

    #game-description > :nth-child(1){
        /* Display Properties */
        display: block;
    }

    #game-description > :nth-child(2){
        padding: 0.5rex 0rem;
    }
}