<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gaming Chronicles: About</title>
    <link rel="stylesheet" href="./Fonts/fonts.css">
    <link rel="stylesheet" href="./styles-general.css">
    <link rel="stylesheet" href="./Styles/styles-aboutpage.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

    <header>
        <p id="site-title">Gaming Chronicles</p>
    </header>

    <div id="about-container">
        <h1>Developed by</h1>
        <ul>
            <li><a href="https://github.com/aitwehrrg" class="credit">Rupak Gupta</a></li>
            <li><a href="https://www.linkedin.com/in/aditya-chavan-7927a8289/" class="credit">Aditya Chavan</a></li>
            <li><a href="https://github.com/JaytidaA" class="credit">Aaditya Joil</a></li>
            <li><a href="https://www.linkedin.com/in/nevil-bhimani-88181a283/" class="credit">Nevil Bhimani</a></li>
        </ul>
    </div>
    
    <footer>
        <p>Community:</p><address>github.com/aitwehrrg/Web-Dev-Assignment-6</address>
        <span class="fa fa-info-circle" id="info-circle"></span>
    </footer>

    <script src="./Scripts/titleClick.js"></script>
    <script src="./Scripts/infoClick.js"></script>
</body>
</html>